body {
    background-color: #0100012e;
}

.To-Do-List {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    font-size: 4rem;
}

button {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: Black;
    transition: background-color 0.5 ease;
}

.add-button {
    background-color: rgba(19, 0, 128, 0.208);
}

.add-button:hover {
    background-color: rgb(128, 92, 0);
}

.delete-button {
    background-color: Pink;
}

.delete-button:hover {
    background-color: Pink;
}

.move-button {
    background-color: black;
}

.move-button:hover {
    background-color: Black (0, 15, 128);
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid Yellow;
    cursor: pointer;
    color: Black;
}

ol {
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.501);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: Black;
}

.text {
    flex: 1;
}

.delete-button,
.move-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: Black;
    transition: background-color 0.5 ease;
    margin-left: 8px;
}
li {
    gap: 10px;
}